@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
}

.icons{
    cursor: pointer;
    font-size: 32px;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icons:hover{
    transform: scale(1.1);
}